.monparcours {
    background-color: $white;
    color: $black;
    text-align: center;
    height: 95.6vh;
    padding: 10vh 0 0 0;
    font-size: 1.3em;
    z-index: 1;
    opacity: 1;
    position: relative;
}
.monparcours h1 {
    padding: 0 0 4vh 0;;
}
.monparcours ul {
    padding: 10vh 0 0 0;
}
.monparcours i {
    padding: 10px;
}