ul {
    position: relative;
    display: flex;
    justify-content: center;
}
.socialNetwork {
    position: relative;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: $color-4;
    color: white;
    text-align: center;
    clear: both;
}
.socialNetwork li {
    background-color: $color-1;
    position: relative;
    bottom: 0;
    font-size: 1.8em;
    cursor: pointer;
    background-color: $color-1;
    border-radius: 50%;
    padding: 0.5rem 1.1rem;
    margin: 10px 20px 0 20px;
}
.socialNetwork li:hover {
    background-color: $white;
}
h3 {
    padding: 10px;
}
