@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Josefin+Sans:wght@200&family=Titillium+Web&display=swap");

$font-1: "Titillium Web", cursive;
$font-2: "Josefin Sans", cursive;
$font-3: "Dosis", cursive;

$color-1: #d4f1f4;
$color-2: #75e6da;
$color-3: #189ab4;
$color-4: #05445e;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
    background-color: black;
}
body {
  margin: 0rem auto;
  max-width: 1100vw;
  font-family: $font-1;
  color: $black;
  background-color: black;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}
a:visited {
    color: $black;
}
.home, .knowledge, .portfolio, .contact {
    display: flex;

    @media screen and (max-width: 850px){
        display: block impo !important;
    }
}
.homeContent, .knowledgeContent, .portfolioContent, .contactContent {
    margin-left: .4rem;

    @media screen and (max-width: 850px){
        margin-left: 0 !important;
    }
}
